* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}
.container span {
    margin-top: 100px;
    height: 100px;
    width: 100px;
    border: 2px solid #000;
    margin-left: 10px;
}
#grey {
    background-color: gray;
}
#yellow {
    background-color: yellow;
}
#blue {
    background-color: blue;
}
#purple {
    background-color: purple;
}
#red {
    background-color: red;
}
#green {
    background-color: green;
}
.container p {
    background-color: bisque;
    font-size: 2rem;
    margin-top: 50px;
}